In [1]:
from src.data_loader import load_data
from src.preprocessing import clean_data
from src.features import build_features

df = load_data()
df = clean_data(df)
df = build_features(df)

df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,Churn,avg_monthly_bill,high_charges,is_new_client,is_long_term,tenure_bucket,num_services,is_month_to_month,is_auto_pay,revenue_per_tenure
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,0,14.925000,0,1,0,0,1,1,0,14.925000
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,0,53.985714,0,0,1,2,3,0,0,53.985714
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,1,36.050000,0,1,0,0,3,1,0,36.050000
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,0,40.016304,0,0,1,2,3,0,1,40.016304
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,1,50.550000,1,1,0,0,1,1,0,50.550000

In [ ]:
corr = df.corr(numeric_only=True)["Churn"].sort_values(ascending=False)
print(corr)

In [ ]:
df.info()

In [ ]:
df["PaymentMethod"]